// *************************************
//
//   Hero
//   -> Entry banner
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .hero
//
// *************************************

.hero
  background: linear-gradient(#355996, #2a467d)
  border-bottom: 1px solid #011233
  margin-bottom: 30px
  padding-bottom: 60px
  padding-top: 60px
  text-align: center
