// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .thumbnail
//   .thumbnail-media
//
// *************************************

.thumbnail
  background: #fcfdff
  border-radius: 3px
  border: 1px solid #2b487f
  display: block
  padding: $thumbnail-padding
  position: relative

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Media ----- //

.thumbnail-media
  animation: 0.4s ease-in-out thumbnail-in
  border-radius: 1px
  left: $thumbnail-padding
  max-width: calc(100% - #{$thumbnail-padding * 2})
  position: absolute
  top: $thumbnail-padding

// ----- Placeholder ----- //

.thumbnail-placeholder
  background: #d6dae0
  border-radius: 1px
  padding-top: percentage(3/4)

// -------------------------------------
//   Animations
// -------------------------------------

// ----- In ----- //

@keyframes thumbnail-in
  from
    opacity: 0
  to
    opacity: 1
