// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .thumbnail
//   .thumbnail-media
//
// *************************************

.thumbnail
  background: #fcfdff
  border-radius: 3px
  border: 1px solid #2b487f
  padding: 5px

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Media ----- //

.thumbnail-media
  border-radius: 1px
  width: 100%
